@charset "UTF-8";
/* CSS Document */

@import "bourbon/bourbon";

@import "components/_mixins";

@import "foundation";

/* IE Stylesheet */
@import "components/_ie.scss";


* { font-variant-ligatures: none; }

/* Viewport Styling */
body, .wrapper {
	width: 100%;
	max-width: 100%;	
	min-height: 100%;
}
body {
	font-size: 15px;
	line-height: 20px;
}
.wrapper {
	overflow: hidden;
}

$color-text: #333333;

.relative {
	position: relative;
}



/* Content Styling */

/***********/
/* SECTION */
/***********/

/* IE Stylesheet */
@import "components/_old_browsers.scss";

/* Media Queries Last */
@import "components/_slick.scss";

/* Media Queries Last */
@import "components/_media-queries.scss";
