﻿// Media Queries
$width-custom: 1200px;
$width-large: 1024px;
$width-medium: 768px;
$width-small: 640px;
$width-xsmall: 480px;

/********************/
/* Large */
/********************/

// Greater than Large
@media only screen and (min-width: $width-large + 1) {
}

// Large Snapping Point
@media only screen and (max-width: $width-large) {
}

/********************/
/* Medium */
/********************/

// Between Medium & Large
@media only screen and (min-width: $width-medium + 1) and (max-width: $width-large) {
}

// Greater than Medium
@media only screen and (min-width: $width-medium + 1) {
}

// Medium Snapping Point
@media only screen and (max-width: $width-medium) {
}

/********************/
/* Small */
/********************/

// Between Small & Medium
@media only screen and (min-width: $width-small + 1) and (max-width: $width-medium) {
}

// Greater than small
@media only screen and (min-width: $width-small + 1) {
}

// Small Snapping Point
@media only screen and (max-width: $width-small) {
	.small-text-center {
		text-align: center !important;
	}	
}

/********************/
/* Xsmall */
/********************/

// Greater than xsmall
@media only screen and (min-width: $width-xsmall + 1) {
}

// Between Xtra Small & Medium
@media only screen and (min-width: $width-xsmall + 1) and (max-width: $width-medium) {
}

// Between Xtra Small & Small
@media only screen and (min-width: $width-xsmall + 1) and (max-width: $width-small) {
}

// Xtra Small Snapping
@media only screen and (max-width: $width-xsmall) {
	.xsmall-text-center {
		text-align: center !important;
	}
}
