#old-browsers {

	background: #333333;
	padding-top:30px;
	padding-bottom:30px;
	font-family:Arial, Helvetica, sans-serif;
	
	p, span {
		color:#ffffff;
		font-size: 12px;
	}
	
	p strong {
		font-size: 16px;
	}
	
	a {
		color: #ebc609;
		font-weight: bold;
	}
	
	ul {
		margin-top: 20px;
	}
	
	ul li {
		position: relative;
		padding-left:47px;
		padding-right:20px;
		min-height:50px;
	}
	
	ul li img {
		position: absolute;
		left:0;
	}
}